*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #C2BAB0;
    overflow-x: hidden;
}





.nav{
    width: 100%;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    border-bottom: 1px solid #222;
}

.nav h5{
    font-size: 1.1rem;
  font-family: canopee;
  font-weight: 300;
  text-transform: u;
}

.logo-nav{
    width: 9vw;
    margin-left: -5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-nav{
    width: 1.5vw;
    height: 1.5vh;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: canopee;
}

#container{
    border-left: 1px #222 solid;
    border-right: 1px #222 solid;
     margin-inline: auto;
    width: 95vw;
    
    
  
}

.page1{
   width:100%;
   height: 140vh;
   border: 1px solid red;
  
   
  }

  .page1-cards{
    width: 95%;
    margin-top: 5vh;
    height: 48%;
    margin-inline: auto;
     /* background-color: lightblue; */
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 2vw;
    

  }

  .cards1{
    width: 35%;
    height: 90%;
    /* background-color: lightblue; */
  }

  .cards2{
    width: 25%;
    height: 90%;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4%;
  }

  .img-div{
    width: 100%;
    height: 60%;
    border: 1px solid #222;
    overflow: hidden;

  }

  .img-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 1s;

  }
  .img-div:hover img{
    scale: 1.2;
    
  }

  .cards1 h4{
    margin-top: 2%;
    font-size: 2rem;
    font-weight: 500;
    font-family: canopee;
    line-height: 2rem;

  }

  .cards1 h4 span{
    font-size: 1.7rem;
    border-radius: 5px;
    padding: 2px;
    background-color: orangered;
    color: white;
  }


  .cards1 p{
    width: 90%;
   color: #555350;
   font-family: domain;
    font-size: 1.5rem;
    height: 30%;
    margin-top: 1%;
    /* background-color: aqua; */
    line-height: 1.5rem ;
  }

  .cards2 h2{
    font-family: canopee;
    font-size: 4.5rem;
    font-weight: 550;
    line-height: 4.3rem;
    
  }


  .cards2 h3{

    font-family: domain;
    width: 100%;
    margin-left: 15%;
    height: 60%;
    font-size: 2rem;
    /* letter-spacing: -2px; */
    margin-top: 5%;
    line-height: 2rem;
    font-weight: 500;
    color: #3F3E39;
  }

  .cards2 h3 span{
    color: #202020;
    font-size: 2.1rem;
     font-weight: 800;
    margin-bottom: 5%;
  }

  .miranda{
  width: 100%;
  height: 65vh;
    background-color: #1C1C19;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .miranda h1{
  
    font-size: 36vw;
    font-family: canopee;
    font-weight: 500;
    letter-spacing: -30px;
    color: #C5BDB4;

  }


  .page2{
    width: 100%;
    height: 150vh;
    display: flex;
    
    /* background-color: aqua; */
  }

  .leftdiv{
    width: 35%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #202020;
  }

  .leftimgdiv{
    width: 80%;
    height: 50%;
    margin-left: -10%;
    border: 1px solid black;
  }

.leftimgdiv img{
    width: 100%;
    height: 100%;
}

.leftdiv h1{
  font-family: canopee;
  font-size: 7em;
  /* margin-inline: auto; */
  margin-left: 20px;
  line-height: 1.2em;
}

.leftdiv h1 span{
    font-size: 1.8em;
}

.leftdiv p{
    width: 90%;
    margin-top: 4%;
    font-size: 2.3em;
    margin-left: 3% ;
    color:  #1C1C19;
    flex-wrap: wrap;
}

.leftdiv p span{
    background-color: #1C1C19;
    border-radius: 5px ;
    color: #C5BDB4;
    font-size: 1.5em;
    margin-right: 4px;
    margin-left: 10px;
    padding: 5px;
}

.rightdiv{
  width: 65%;
  height: 100%;
  /* background-color: aqua; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.rightdiv img{
  border: 1px solid #202020;
 width: 90%;
 height: 55%;
 object-fit :cover;
}

.rightdiv h1{
  font-family: canopee;
  font-size: 7.8em;
  line-height: .9em;
  font-weight: 500;
  margin-top: 5%;
  color: #1C1B19;

}

.rightdiv h1 u{
  width: 10%;
  height: 1px;
  color: #1C1B19;
}

.page3{
  width: 100%;
  height: 200vh;
  /* background-color: aqua; */
  
}

.upperdiv{
  width: 100%;
  height: 55vh;
  margin-top: 3%;
  /* background-color: red; */
  display:  flex;
  /* justify-content: center; */
  align-items: center;
}

.heading h1{
font-weight: 500;
font-size: 33.5em;

letter-spacing: -30px;
font-family: canopee;
color: #C5BDB4;
}

.heading {
  width: 80%;
  height: 97%;
  background-color: #1C1C19;
  display: flex;

  align-items: center;
}

.upperdiv img{
  width: 22%;
  height: 95%;

}

.page3left{
  margin-top: 5%;
  width: 66%;
  height: 135vh;
  border-right: 1px solid #1C1B19;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}

.cardsdiv{
width: 100%;
height: 40%;
/* background-color: red; */
/* padding: 2%; */
display: flex;


}

.page3card1{
  width: 45%;
  height: 95%;
  /* background-color: lightblue; */
  margin-right: 20px;
  margin-left: 10px;
  color: #1C1B19;
  border-right: 1px solid #1C1B19;
}

.page3card2{
  width: 55%;
  height: 95%;
  background-color: lightblue;
}

.page3card1 h1{
 font-size: 4em;
 font-weight: 600;
 font-family: canopee;
}

.page3card1 h3{
  color:#1C1C19;
  font-size: 3.3em;
margin-top: 2%;
line-height: 1.2em;
  font-weight: 500;
}